body {
    background-color: #17181D;
}

.center {
    display:flex;
    justify-content: center;
    align-items: center;
}

/* rooms Page */
#messagesSection {
    background-color: #1C1F28;
    height: 80vh;
    width: 100vh;
    border-radius: 1rem;
    border: 2px solid #2A2E39;
    overflow-y: auto;
    overflow-x: hidden;
}
.username {
    color: #8ab4ff;
    font-size: 14px;
    margin-left: 8px;
    margin-bottom: 4px;
}
.meChatBubble {
    width: fit-content;
    max-width: 80%;
    background: #1DB5C1;
    color: white;
    padding: 10px 14px;
    margin: 8px 0 8px auto;
    margin-right: 2%;
    border-radius: 16px;
    white-space: pre-wrap;  
    overflow-wrap: break-word;
    word-break: break-word;
}
.otherChatBubble {
    width: fit-content;
    max-width: 80%;
    background: #242833;
    color: white;
    padding: 10px 14px;
    margin: 8px 0 8px 0;
    margin-left: 2%;
    border-radius: 16px;
    white-space: pre-wrap;  
    overflow-wrap: break-word;
    word-break: break-word;
}

#sendSection {
    position: fixed;
    bottom: 20px;
    z-index: 9999;
}
#text {
    color: white;
    background-color: #1C1F28;
    height: 5vh;
    width: 80vh;
    border-radius: 1rem;
    border: 2px solid #2A2E39;
    font-size: medium;
    padding-left: 15px;
    outline: none;
    margin-top: 2vh;
}
#send {
    background-color: #1C1F28;
    width: 7vh;
    height: 6vh;
    border-radius: 2rem;
    border: 2px solid #2A2E39;
    margin-left: 1vh;
    margin-top: 2vh;
}
#sendIcon {
    width: 7vh;
    height: 5.5vh;
    padding: 4%;
}
#send:hover {
    opacity: 0.8;
}
#send:active {
    opacity: 100%;
}

/* landing Page */
.heading {
    color: white;
}

.input {
    background-color: #1C1F28;
    color: white;
    height: 5vh;
    width: 40vh;
    border-radius: 1rem;
    border: 2px solid #2A2E39;
    font-size: medium;
    margin: 1vh;
    padding-left: 15px;
}
.button {
    background: #1DB5C1;
    color: white;
    height: 5vh;
    width: 30vh;
    border-radius: 1rem;
    border: none;
    font-size: medium;
    margin: 1vh;
}
.button:hover {
    opacity: 0.8;
}
.button:active {
    opacity: 100%;
}