body {
    background-color: #17181D;
    margin: 0;
}

.center {
    display:flex;
    justify-content: center;
    align-items: center;
}

/* rooms Page */
#message-section {
    background-color: #1C1F28;
    height: 80vh;
    width: 100vh;
    border-radius: 1rem;
    border: 2px solid #2A2E39;
    overflow-y: auto;
    overflow-x: hidden;
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #4A5158 #34393C;
}

/* Chrome / Edge / Safari */
#message-section::-webkit-scrollbar {
    width: 8px;
}

#message-section::-webkit-scrollbar-track {
    background: #34393C;
    border-radius: 10px;
}

#message-section::-webkit-scrollbar-thumb {
    background: #4A5158;
    border-radius: 10px;
}

#message-section::-webkit-scrollbar-thumb:hover {
    background: #5c646c;
}

.username {
    color: #8ab4ff;
    font-size: 14px;
    margin-left: 8px;
    margin-bottom: 4px;
}

.chatBubble {
    width: fit-content;
    max-width: 80%;
    color: white;
    padding: 10px 14px;
    margin: 8px 0 8px auto;
    border-radius: 16px;
    white-space: pre-wrap;  
    overflow-wrap: break-word;
    word-break: break-word;
}
.right-chatBubble {
    background: #1DB5C1;
    margin-right: 2%;
}
.left-chatBubble {
    background: #242833;
    margin-left: 2%;
}

#text-input {
    position: fixed;
    bottom: 20px;
    z-index: 9999;
}
#text {
    color: white;
    background-color: #1C1F28;
    height: 5vh;
    width: 80vh;
    border-radius: 1rem;
    border: 2px solid #2A2E39;
    font-size: medium;
    padding-left: 15px;
    outline: none;
    margin-top: 2vh;
}
#send-button {
    background-color: #1C1F28;
    width: 7vh;
    height: 6vh;
    border-radius: 2rem;
    border: 2px solid #2A2E39;
    margin-left: 1vh;
    margin-top: 2vh;
}
.icon {
    width: 7vh;
    height: 5.5vh;
    margin-left: 2%;
}
.leave-icon { margin-left: 0 }

#send-button:hover { opacity: 0.8 }
#send-button:active { opacity: 100% }

/* landing Page */
.heading {
    color: white;
}

.input {
    background-color: #1C1F28;
    color: white;
    height: 5vh;
    width: 40vh;
    border-radius: 1rem;
    border: 2px solid #2A2E39;
    font-size: medium;
    margin: 1vh;
    padding-left: 15px;
}
.button {
    background: #1DB5C1;
    color: white;
    height: 5vh;
    width: 30vh;
    border-radius: 1rem;
    border: none;
    font-size: medium;
    margin: 1vh;
}
.button:hover { opacity: 0.8 }
.button:active { opacity: 100 }